<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Title: {{note?.noteTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <div>
        <p>{{note?.noteDescription}}</p>
      </div>
    </ion-item>
  </ion-list>
  <ion-chip *ngFor="let tag of note.categoryTags">
    <ion-icon [name]="tag.iconName" item-start></ion-icon>
    <ion-label>{{tag?.categoryName}}</ion-label>
  </ion-chip>
</ion-content>