<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Edit Note
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="noteEntryForm" (ngSubmit)="onSubmit()" class="position-relative full-height-width">
    <div class="height95OverflowYScroll">
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input type="text" formControlName="title">
        </ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.title">
          <div class="error-message" *ngIf="noteEntryForm.get('title').hasError(validation.type) && 
  (noteEntryForm.get('title').dirty || noteEntryForm.get('title').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" minlength="4">Description</ion-label>
        <ion-textarea type="text" rows="15" placeholder="descriptions..." autocomplete="on" autocorrect="on"
          formControlName="description"></ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.description">
          <div class="error-message" *ngIf="noteEntryForm.get('description').hasError(validation.type) && 
  (noteEntryForm.get('description').dirty || noteEntryForm.get('description').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-button color="primary" size="small" (click)="presentAddTagModal()">
          <ion-icon slot="start" name="add"></ion-icon>
          add a tag
        </ion-button>
      </ion-item>

      <ion-chip *ngFor="let tag of note.getCategoryTags()">
        <ion-icon [name]="tag.iconName" item-start></ion-icon>
        <ion-label>{{tag?.categoryName}}</ion-label>
        <ion-icon name="close" item-end small (click)="removeTag(tag)"></ion-icon>
      </ion-chip>
    </div>
    <ion-item class="bottom width99">
      <ion-grid no-border>
        <ion-row>
          <ion-col col-6>
            <ion-button size="full" [disabled]="!noteEntryForm.valid" (click)="onSubmit()">Save</ion-button>
          </ion-col>
          <ion-col col-6>
            <ion-button size="full" color="danger" (click)="goBack()">cancel</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </form>




</ion-content>