<div class="no-docs-found-card-container">
  <div class="no-docs-found-card">
    <ion-card>
      <div class="card-image-container">
        <img src="/assets/images/folder-icon.png" />
      </div>
      <ion-card-content>
        <ion-card-title>
          No documents yet
        </ion-card-title>
        <p>
          Start creating notes and review them as needed. Try those data-visuals(charts) to analyze your notes and dont
          forget that you can do Voice logs
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</div>