<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Login</ion-button>
  </form>

  <ion-item>
    <label class="checkbox">
      <input type="checkbox" [(ngModel)]="rememberMeChkBox"> Remember Me
    </label>
  </ion-item>
  <ion-item>
    <a routerLink="/forgot-password">Forgot Password?</a>
  </ion-item>
</ion-content>