<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{isTrashFolderFlag?'Trash':'My Notes'}}
    </ion-title>
    <ion-buttons slot="end" *ngIf="!isTrashFolderFlag">
      <ion-icon name="create" class="tool-bar-icon" (click)="openNewNote()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="notesExist">
      <ion-icon name="trash" class="tool-bar-icon" (click)="doDelete()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-no-documents-page *ngIf="!notesExist"></app-no-documents-page>
  <ion-content *ngIf="!newTagIdentified">
    <ion-grid *ngIf="notesExist">
      <ion-row>
        <ion-col size="10">
          <ion-searchbar placeholder="Title Contains..." (ionInput)="getItems($event)"
            [(ngModel)]="searchQuery.notesTitleContains"></ion-searchbar>
        </ion-col>
        <ion-col size="2" (click)="toggleAdvancedSearchOptions()">
          <div class="add-circle-container">
            <ion-item>
              <ion-icon *ngIf="!showAdvancedSearchOptions" name="arrow-dropdown-circle" item-start></ion-icon>
              <ion-icon *ngIf="showAdvancedSearchOptions" name="arrow-dropup-circle" item-start></ion-icon>
            </ion-item>

          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="showAdvancedSearchOptions">
        <ion-col size="10">
          <ion-searchbar placeholder="Category Name Contains..." (ionInput)="getItems($event)"
            [(ngModel)]="searchQuery.categoryTagNames"></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="showAdvancedSearchOptions">
        <ion-col size="10">
          <ion-searchbar placeholder="Description Contains..." (ionInput)="getItems($event)"
            [(ngModel)]="searchQuery.notesDescriptionContains"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list *ngIf="notesExist">
      <ion-item-group *ngFor="let item of items">
        <ion-item>
          <ion-icon (click)="editItem(item)" name="create" item-start></ion-icon>
          <ion-label (click)="openItem(item)" color="primary">{{item?.noteTitle}}</ion-label>
          <ion-note (click)="openItem(item)" color="primary"> {{item?.lastupdated}}</ion-note>

          <!-- <ion-note item-end> {{item?.noteDescription | slice:0:30}}...</ion-note> -->
          <ion-toggle color="secondary" [checked]="item.isMarkedForDeletion" (ionChange)="trackSelection($event,item)">
          </ion-toggle>
        </ion-item>
        <ion-tem class="note-description">
          <ion-label color="success">{{item?.noteDescription}}</ion-label>
        </ion-tem>
        <hr>
      </ion-item-group>

    </ion-list>
  </ion-content>