.scrollable-section {
  height: 75%;
  min-height: 75%;
  max-height: 75%;
  overflow-y: scroll;
}
.position-relative {
  position: relative;
}
.bottom {
  position: absolute;
  bottom: 0px;
}

.width99 {
  width: 99%;
}
