.scrollable-section {
  height: 75%;
  min-height: 75%;
  max-height: 75%;
  overflow-y: scroll;
}
.position-relative {
  position: relative;
}
.bottom {
  position: absolute;
  bottom: 0px;
}

.width99 {
  width: 99%;
}

::ng-deep .add-circle-container {
  .item-inner {
    border: 0px solid white !important;
    margin-top: 5px !important;
  }
}
