<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form *ngIf="!verificationMailSent" [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label color="primary">Please provide your email address</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="username"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Send Verification Code</ion-button>
  </form>

  <ion-item *ngIf="verificationMailSent">
    <ion-label text-wrap>
      You would receive a verification email with in 5 minutes, if the mail id provided has already been registered with
      iRemember
    </ion-label>
  </ion-item>
</ion-content>