<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to iRemember</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Record, remember, refer and track the things you want to remember as and when you it happens.</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>iRemember</ion-label>
    </ion-list-header>
    <ion-item [routerDirection]="'root'" [routerLink]="['/list']">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>View Notes</ion-label>
    </ion-item>
    <ion-item [routerDirection]="'root'" [routerLink]="['/new-note']">
      <ion-icon slot="start" color="medium" name="create"></ion-icon>
      <ion-label>Create a Note</ion-label>
    </ion-item>
    <ion-item [routerDirection]="'root'" [routerLink]="['/register']">
      <ion-icon slot="start" color="medium" name="albums"></ion-icon>
      <ion-label>Sign up</ion-label>
    </ion-item>
    <ion-item href="https://techdotmasterpiece.com/docs/products/iRemember.html">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>iRemember Documentation</ion-label>
    </ion-item>
  </ion-list>
</ion-content>